<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h1>【　　からの1ヶ月分勤怠申請】</h1>
      <%= form_with(model: @user, url: user_update_approvals_superior_notice_path(params[:user_id]), local: true, method: :patch) do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th>abc</th>
            <th>def</th>
            <th>c</th>
            <th>d</th>
          </tr>
        </thead>
          
        <tbody>
          <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>