/* Approval superior */
h4 {
  text-align: center;
}

.modal-body .approval-superior__table > thead > tr > th,
.modal-body .approval-superior__table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}