/* Overwork request */

h4 {
  text-align: center;
}

.overwork-application__table > thead > tr > th,
.overwork-application__table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}