/* Base infomation */
.label-base--new {
  margin-top: 5px;
}

.btn-base--new {
  margin-top: 10px;
}

.base-display__table--centered {
  th, td {
    text-align: center;
    vertical-align: middle;
  }
}