/* attendance log */
.table__th-td--center > thead > tr > th,
.table__th-td--center > tbody > tr > td {
  text-align: center;
}

.form__select-box--position_relative {
  width: 10%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

.form__select-box--margin {
  margin-top: -20px;
  margin-bottom: 5px;
}