/* attendance log */
.attendance-log__table > thead > tr > th,
.attendance-log__table > tbody > tr > td {
  text-align: center;
}

.attendance_log > .narrowing-down__form {
  padding-left: -15px;
}

.month__select {
  margin-top: -20px;
  margin-bottom: 5px;
}